ipykernel

numpy
pandas
matplotlib
seaborn

flask
streamlit
memory_profiler

python-dotenv

langchain
langchain-community
langchain-openai
langchain-text-splitters

openai
tiktoken

faiss-cpu
chromadb

sentence-transformers

pypdf
PyPDF2
python-docx
pymupdf
beautifulsoup4
unstructured
arxiv

